@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.logo {
  font-size: 25px;
  font-family: "Neucha", cursive;
  letter-spacing: 3px;
}
.logo-icon {
  text-decoration: none;
  color: black;
}
#navbar {
  display: flex;
  /* border: 2px solid red; */
  padding: 15px 60px;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
#navbar::before {
  content: "";
  background-color: rgb(223, 200, 244);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.9;
}
#navbar ul {
  display: flex;
  /* border: 2px solid blue; */
  gap: 25px;
}
#navbar ul li {
  list-style: none;
}
#navbar ul li a {
  font-size: 20px;
  text-decoration: none;
  border-radius: 20px;
  margin: 0 10px;
  color: rgb(100, 100, 100);
  font-weight: 600;
}
#navbar ul li a:hover {
  color: black;
  transition: 0.3s;
}
#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  /* border: 2px solid red; */
}
#home h1 {
  font-size: 40px;
  margin-top: 10px;
}
#home p {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

#home::before {
  content: " ";
  background: url(/assets/wlcm.jpg) no-repeat center center/cover;
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.7;
  background-position: bottom;
}
.works {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 65vh;
  /* border: 2px solid red; */
}
.works h1 {
  font-size: 27px;
}
.img-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid red; */
}
.work-img-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.images {
  width: 400px;
  height: 275px;
  transition: all 0.2s ease-in-out;
}
.images:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}
.about {
  display: flex;
  width: 100%;
  height: 90vh;
  /* border: 2px solid red; */
  align-items: center;
}
.about h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.about-heading {
  width: 37%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
}
.container {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 60vh;
  gap: 25px;
}
.about-pic {
  width: 600px;
  height: 450px;
}
.heading {
  border-bottom: 7px solid rgb(245, 188, 206);
  width: 250px;
}
.para {
  font-size: 18px;
  margin-top: 20px;
}
.work-btn {
  display: inline-block;
  text-decoration: none;
  padding: 14px 40px;
  font-size: 18px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #f495b9, #eba5f4);

  color: black;
}
.work-btn:hover {
  background-image: linear-gradient(45deg, #df4881, #c430d7);
  color: white;
}
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}
.about-title {
  text-decoration: none;
  font-size: 30px;
  color: black;
  border-bottom: 10px;
  font-weight: bolder;
  letter-spacing: 1px;
}
.about-underline {
  border-bottom: 7px solid rgb(245, 188, 206);
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.works-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid blue; */
  height: 90vh;
}
.works-img {
  width: 250px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.works-img:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}
.works-heading {
  font-size: 35px;
}
.works-item-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  height: 80vh;
}
.work-item-container {
  display: flex;
  flex-direction: row;
  /* border: 2px solid yellow; */
  width: 100%;
  justify-content: center;
  gap: 50px;
}
.work-item-img {
  width: 600px;
  height: 400px;
}
.work-item-details {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  padding-top: 50px;
}
.art-info {
  margin-top: 10px;
}
.artist {
  font-weight: bold;
  font-size: 18px;
}
.art-title {
  font-size: 30px;
}
.art-p {
  font-size: 23px;
}
@media (max-width: 1200px) {
  .img-box {
    justify-content: space-evenly;
  }
  .images {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 1000px) {
  #navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -350px;
    height: 100vh;
    width: 300px;
    gap: 0px;
    background-color: rgb(223, 200, 244);
    box-shadow: 0 20px 40px rgb(0, 0, 0.1);
    padding: 80px 0px 0px 10px;
    transition: 0.3s;
  }
  #navbar ul.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    font-size: 25px;
    color: #1a1a1a;
    padding-left: 20px;
  }
  #close {
    display: initial;
    font-size: 25px;
    position: absolute;
    top: 28px;
    left: 28px;
    color: #222;
  }
}
@media (max-width: 950px) {
  .img-box {
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
  }
  .works {
    height: 175vh;
  }
  .images {
    width: 500px;
    height: 300px;
  }
  .container {
    flex-direction: column;
    gap: 0px;
  }
  .about {
    height: 110vh;
  }
  .about-heading {
    width: 100%;
    padding-left: 20px;
  }
}

@media (max-width: 800px) {
  .work-img-box {
    flex-direction: column;
    gap: 25px;
  }
  .works-page {
    height: 265vh;
  }
  .works-heading {
    margin-top: 10px;
  }
}
@media (max-width: 750px) {
  .work-item-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 0px;
    align-items: center;
  }
  .work-item-details {
    padding: 20px;
  }
  .works-item-section {
    height: 94vh;
  }
  #navbar ul {
    width: 300px;
  }
  .about-pic {
    width: 500px;
    height: 375px;
  }
}

@media (max-width: 550px) {
  #home {
    height: 275px;
  }
  #home::before {
    height: 350px;
  }
  .popular {
    margin-top: 15px;
  }
  .images {
    width: 400px;
    height: 275px;
  }
  #home h1 {
    font-size: 32px;
    margin-top: 0px;
  }
  #home p {
    font-size: 17px;
  }
  .logo {
    font-size: 22.5px;
  }
  .works-heading {
    font-size: 30px;
  }
  .work-item-img {
    width: 350px;
    height: 300px;
  }
  .art-title {
    font-size: 25px;
  }
  .art-p {
    font-size: 20px;
  }
  .artist {
    font-size: 16px;
  }
  #navbar ul {
    width: 250px;
  }
  .about-pic {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 450px) {
  #navbar {
    padding: 15px 25px;
  }
  #home {
    height: 250px;
  }
  #home::before {
    height: 325px;
  }
  .images {
    width: 300px;
    height: 225px;
  }
  .popular {
    margin-top: 30px;
  }
  #home h1 {
    font-size: 23px;
  }
  #home p {
    font-size: 13px;
  }
  .logo {
    font-size: 15px;
    letter-spacing: 1px;
  }
  .works {
    height: 150vh;
  }
  .works h1 {
    font-size: 22px;
  }
  .work-btn {
    padding: 12px 27px;
    font-size: 17px;
    border-radius: 25px;
  }
  .about-underline {
    margin-bottom: 25px;
  }
  .works-heading {
    font-size: 22px;
  }
  .work-item-img {
    width: 300px;
    height: 225px;
  }
  .works-item-section {
    height: 75vh;
  }
  .art-title {
    font-size: 22px;
  }
  .art-p {
    font-size: 18px;
  }
  .artist {
    font-size: 14px;
  }
  #navbar ul {
    width: 200px;
  }
  #navbar ul li a {
    font-size: 18px;
  }
  #close {
    font-size: 20px;
  }
  #mobile i {
    font-size: 23px;
  }
  .about-title {
    font-size: 27px;
  }
  .about-underline {
    border-bottom: 5px solid rgb(245, 188, 206);
    width: 225px;
  }
  .about {
    height: 100vh;
  }
  .about-pic {
    width: 350px;
    height: 250px;
  }
  .about h1 {
    font-size: 25px;
    margin-bottom: 8px;
  }
  .heading {
    width: 175px;
  }
  .para {
    font-size: 14px;
  }
}
